BasedOnStyle: LLVM
UseTab: Always
TabWidth: 8
IndentWidth: 8
ColumnLimit: 80
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: false
  AfterControlStatement: Never
  AfterClass: false
  AfterNamespace: false
  AfterStruct: false
  AfterEnum: false
PointerAlignment: Left
IndentCaseLabels: true
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
